<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-name>FirstHttpServlet</servlet-name>
        <servlet-class>com.dongfang.javaweb.servlet.ch1_http.FirstHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FirstHttpServlet</servlet-name>
        <url-pattern>/firstHttpServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>EncodingServlet</servlet-name>
        <servlet-class>com.dongfang.javaweb.servlet.ch1_http.EncodingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EncodingServlet</servlet-name>
        <url-pattern>/encodingServlet</url-pattern>
    </servlet-mapping>

</web-app>